---
layout: base
---

<div class="step">
    <a id="logo" href="/">
        <img src="/capifony/images/logo.png" alt="capifony"/>
    </a>
    <p class="intro">
        <a href="https://github.com/capistrano/capistrano">Capistrano</a> is an open source tool for running scripts on multiple servers.
        It’s primary use is for easily deploying applications. While it was built specifically for deploying <a href="http://rubyonrails.org/">Rails</a> apps,
        it’s pretty simple to customize it to deploy other types of applications.
        <br /><strong>capifony</strong> is a deployment recipes collection that works with both <a href="http://www.symfony-project.org/">symfony</a> and
        <a href="http://symfony.com/">Symfony</a> applications.
    </p>
</div>

<div class="content">
    {{ content }}
</div>
